html{
    background: #FAF9F6;
}

.box1{
    
    width: 720px;
    height: 200px;
    margin: 200px auto auto auto;
    text-align: right;
    font-family: monospace;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15pt;
}

.box2{
    width: 250px;
    position: absolute;
    margin-top: -121px;
    text-align: justify;
    text-justify: inter-word;
    font-family: monospace;
    color: #DC281E;
    text-decoration: none;
    font-size: 14pt;
}

.results{
    width: 720px;
    height: 600px;
    margin:auto;
}

.hbar {
    border-bottom: 2px solid #DC281E;
    width: 720px;
    margin: 35px auto auto auto;
  }

/* .text{
    width: 250px;
} */

form input{
    background-color: #10133A;
    /* border-radius: 8px; */
    border-color: #FFFFFF;
    border-bottom: solid;
    /* scale: 1; */
    font-family: monospace;
    color: #ffffff;
    text-decoration: none;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 12pt;
    text-align: center;
    width: 80px;
}

.submit{
    font-family: monospace;
    color: #DC281E;
    background-color: #10133A;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    font-size: 15pt;
}

.submit:hover{
    color: #ffffff;
    transition: 0.8s;
}

.fplan{
    width: 720px;
    margin: auto auto auto auto;
    font-family: monospace;
    color: #ffffff;
    text-decoration: none;
    font-size: 11pt;
    text-align: center;
    text-justify: inter-word;
}

.wp{
    
    width: 720px;
    height: 200px;
    margin: 450px auto auto auto;
    text-align: left;
    font-family: monospace;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15pt;
}
