header{
    background: #10133A;
}

html{
    background: #10133A;
}

.box{
    display:inline-block;
    width: 940px;
    position:relative;
    margin: 50 auto 50 auto;
}

.prof{
    scale: 48%;
    position: relative;
    display:block;
    margin-left: 988px;
    margin-right: auto;
    border: 6px solid #DC281E;
    border-radius: 6px;
}

.proftxt{
    width:340px;
    display: inline-block;
    position:absolute;
    left: auto;
    right:0px;
    
}

.name{
    text-transform: uppercase;
    font-weight: bold;
    font-family: monospace;
    color: #DC281E;
    text-decoration: none;
    font-size: 18pt;
    text-align: right;
    position:absolute;
    right: -110px;
    margin-top:110px;
}

.atributes{
    font-family: monospace;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 10pt;
    text-align: right;
    width:370px;
    position:absolute;
    right:-110px;
    margin-top:140px;
}

.atributes li{
    margin: 20px 0 0 0;
    text-align: right;
    line-height: normal;
}

.cvtextbox{
    width: 940px;
    position: absolute;
    left: 380px;
    text-align: left;
    display: inline-block;
}

.cvtextbox2{
    width: 940px;
    position: absolute;
    left: 380px;
    top:700px;
    text-align: left;
    display: inline-block;
}

.lhtxt{
    width: 410px;
    display: inline-block;
    position: absolute;
    margin: auto auto auto 30px;
    text-align: left;
    text-align: top;
}

.rhtxt{
    width: 410px;
    display: inline-block;
    position: absolute;
    top:0px;
    margin: 0px 30px auto auto;
    text-align: right;
    left: 440px;
}
.Title{
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: bold;
    font-family: monospace;
    color: #DC281E;
    text-decoration: none;
    line-height: normal;
    margin: 0px auto 15px auto;
}

.topics{
    font-size: 12pt;
    font-family: monospace;
    color: #FFFFFF;
    text-decoration: none;
    line-height: normal;
}

.topics li{
    margin: 0 0 10px 0;
}

nav li {
    display: inline;
    margin: 0 0 0 30px;
    
}

nav a{
    
    font-weight: bold;
    font-family: monospace;
    color: #DC281E;
    text-decoration: none;
    font-size: 12pt;
}

.contact{
    width:940px;
    position: absolute;
    top:940px;
    bottom: 30px;
    left: 400px;
    padding: 70px;
}
