header{
    background: #10133A;
}

html{
    background: #10133A;
}

.box{
    display:inline-block;
    width: 940px;
    position:relative;
    margin: 50 auto 50 auto;
}

.prof{
    scale: 48%;
    position: relative;
    display:block;
    margin-left: 900px;
    margin-right: auto;
    border: 8px solid #DC281E;
    border-radius: 6px;
}

.proftxt{
    width:340px;
    display: inline-block;
    position:absolute;
    left: auto;
    right:0px;
    
}

.name{
    text-transform: uppercase;
    font-weight: bold;
    font-family: monospace;
    color: #DC281E;
    text-decoration: none;
    font-size: 18pt;
    text-align: right;
    position:absolute;
    right: -30px;
    margin-top:110px;
}

.atributes{
    font-family: monospace;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 10pt;
    text-align: right;
    width:370px;
    position:absolute;
    right:-30px;
    margin-top:140px;
}

.atributes li{
    margin: 20px 0 0 0;
    text-align: right;
    line-height: normal;
}


.bloco{
    width:60%;
    position: absolute;
    right:auto;
    left:6%;
    display: inline-block;
    text-align: center;
}


.cvtextbox{
    width: 100%;
    position: absolute;
    left: 25%;
    right: 25%;
    bottom:auto;
    text-align: left;
    display: inline-block;
}

.cvtextbox2{
    width: 100%;
    position: absolute;
    left: 25%;
    right: 25%;
    top:320px;
    bottom:auto;
    text-align: left;
    display: inline-block;
}

.lhtxt{
    width: 410px;
    display: inline-block;
    position: absolute;
    margin: auto auto auto 30px;
    text-align: left;
    text-align: top;
}

.rhtxt{
    width: 410px;
    display: inline-block;
    position: absolute;
    top:0px;
    margin: 0px 30px auto auto;
    text-align: right;
    left: 440px;
}

.Title{
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: bold;
    font-family: monospace;
    color: #DC281E;
    text-decoration: none;
    line-height: normal;
    margin: 0px auto 15px auto;
}

.topics{
    font-size: 12pt;
    font-family: monospace;
    color: #FFFFFF;
    text-decoration: none;
    line-height: normal;
}

.topics li{
    margin: 0 0 10px 0;
}

footer a:hover{
    color: #FFFFFF;
}


footer a{
    background:#10133A;
    font-weight: bold;
    font-family: monospace;
    color: #DC281E;
    text-decoration: none;
    font-size: 10pt;
}

footer li{
    display: inline;
    margin: 0 0 0 30px;
}

footer{
    width:100%;
    text-align: center;
    position: absolute;
    top:1000px;
    bottom:auto;
    padding-bottom:60px;
    left:auto;
    right:auto;
}