html{
    background: #10133A;
}


.boxheader{
    width: 940px;
    height: 230px;

    margin: 0px auto auto auto;
}

.prof{
    width: 130px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 460px;
    top: 165px;
    border: 2px solid #DC281E;
    border-radius: 6px;
    display: inline-block;
}

.proftxt{
    width:340px;
    height: 180px;
    display: inline-block;
    position: relative;
    top:120px;
    left: 450px;
}

.name{
    text-transform: uppercase;
    font-weight: bold;
    font-family: monospace;
    color: #DC281E;
    text-decoration: none;
    font-size: 18pt;
    text-align: right;
}

.atributes{
    font-family: monospace;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 10pt;
    text-align: right;
}

.atributes li{
    margin: 20px 0 0 0;
    text-align: right;
    line-height: normal;
}


.bloco{
    width:940px;
    height: 800px;
    position:relative;
    margin: 250px auto auto auto;
    
}


.cvtextbox{
    width: 940px;
    height: 370px;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    text-align: left;
    display: inline-block;
}

.cvtextbox2{
    width: 940px;
    height: 370px;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    text-align: left;
    display: inline-block;
}

.lhtxt{
    width: 410px;
    display: inline-block;
    position: absolute;
    margin: auto auto auto auto;
    text-align: left;
}

.rhtxt{
    width: 410px;
    display: inline-block;
    position: absolute;
    top:0px;
    margin: auto auto auto 530px;
    text-align: right;
}

.Title{
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: bold;
    font-family: monospace;
    color: #DC281E;
    text-decoration: none;
    line-height: normal;
    margin: 0px auto 15px auto;
}

.topics{
    font-size: 12pt;
    font-family: monospace;
    color: #FFFFFF;
    text-decoration: none;
    line-height: normal;
}

.topics li{
    margin: 0 0 10px 0;
}

/*Footer*/
footer{
    background-color: #10133A;
}

footer a:hover{
    color: #FFFFFF;
}


footer a{
    background:#10133A;
    font-weight: bold;
    font-family: monospace;
    color: #DC281E;
    text-decoration: none;
    font-size: 10pt;
}

footer li{
    display: inline;
    margin: 0 0 0 30px;
}

footer{
    width:100%;
    text-align: center;
    position: relative;
    top:auto;
    bottom:50px;
    left:auto;
    right:auto;
}

/*footer dropup*/

.dropbtnup {
    background-color: #10133A;
    color: #DC281E;
    padding: 16px;
    font-size: 10pt;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #10133A;
    min-width: 160px;   
    z-index: 1;
    left:-37px;
}

.dropup-content a {
    color: #DC281E;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: monospace;
}
  
.dropup-content a:hover {
    background-color: #10133A;
    color: #FFFFFF;
}
  

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: #2980B9;
}