.logo{
    width:128px;
    height:auto;
    position: relative;
    left: 50px;
    top: 30px;
    display: inline-block;
}

.box{
    width: 940px;
    height: 200px;
    position:relative;
    display: block;
    margin-left:auto;
    margin: auto;
}

header{
    background: #10133A;
}

nav li {
    display: inline;
    margin: 0 0 0 30px;
    
}

nav a{
    text-transform: uppercase;
    font-weight: bold;
    font-family: monospace;
    color: #DC281E;
    text-decoration: none;
    font-size: 16pt;
}

nav{
    width: 460;
    height: 60;
    position: relative;
    top: -60px;
    left:450px;
    display: inline-block;
}

html{
    background: #10133A;
}

.intro{
    width: 720px;
    height: 300px;
    font-family: monospace;
    color: #DC281E;
    font-size: 12pt;
    text-decoration: none;
    position: relative;
    margin: 45px auto auto auto;
    text-align: justify;
    text-justify: inter-word;
}

nav a:hover{
    color: #FFFFFF;
}



/*Footer*/

footer a:hover{
    color: #FFFFFF;
}


footer a{
    background:#10133A;
    font-weight: bold;
    font-family: monospace;
    color: #DC281E;
    text-decoration: none;
    font-size: 10pt;
}

footer li{
    display: inline;
    margin: 0 0 0 30px;
}

footer{
    width:940px;
    height:50px;
    text-align: center;
    position: relative;
    top:200px;
    margin-left: auto;
    margin-right: auto;
}


/*Dropdown Menu*/

.dropdown{
    position: relative;
    display: inline-block;
  }

.dropbtn {
    background-color: #10133A;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-family: monospace;
    color: #DC281E;
    text-decoration: none;
    font-size: 16pt;
    padding: 16px;
    border: none;
    cursor: pointer;
  }

.dropbtn:hover, .dropbtn:focus {
background-color: #10133A;
color: #FFFFFF;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #10133A;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: #DC281E;
padding: 12px 16px;
text-decoration: none;
display: block;
}


.dropdown-content a:hover {
    background-color: #10133A;
    color: #FFFFFF;
}


.show {display:block;}

/*footer dropup*/

.dropbtnup {
    background-color: #10133A;
    color: #DC281E;
    padding: 16px;
    font-size: 10pt;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #10133A;
    min-width: 160px;   
    z-index: 1;
    left:-37px;
}

.dropup-content a {
    color: #DC281E;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: monospace;
}
  
.dropup-content a:hover {
    background-color: #10133A;
    color: #FFFFFF;
}
  

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: #2980B9;
}